*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
.gitignore
.idea/
app/
build.gradle
doc/
gradle.properties
gradle/
gradlew
gradlew.bat
load/
settings.gradle
